# Welcome to "CrashPython"

__But God demonstrates his own love for us in this: While we were still sinners, Christ died for us.__ Romans 5:9

--------

# Lesson - Control Flow Example - SnowFlakes

-------

Looping
=======

When programming, you want to be able to repeatedly execute chunks of code without having to manually duplicate the code. Python implements a number of looping constructs, and in this lecture we'll discuss the __while__ loop and the __for__ loop.

While loop
----------

```
while <condition>:
    <statements>
```

__Example 1__ - count how many times 0 appears in an integer number:

In [ ]:
num = 2**100
print(num)

How do you get the last digit of 'num'?
- num % 10

How do you get the new 'num' after removing the last digit?
- num // 10

Algorithm
1. You get the last digit and check whether it is 0 or not.     If it is 0, increment the count.
2. After you check the last digit, remove the last digit to get the new 'num'
3. Repeat this process while num > 0.

In [ ]:
num = 2**100
count = 0

while num > 0:  
    None
    
print('count =', count)

This repeatedly pops an element from the set of plays until the set of plays
is empty.

For loop
--------

The other type of looping statement that is available is the for loop.  The
for loop is designed to loop over sequences, like lists, sets, dictionaries,
and even strings.  The for statement has the form:

    for <variable> in <sequence>:
        <indented block of code>

The variable is given each element of the sequence in turn, and then the block
of code is executed with the variable referring to that element:

`str` type varaible is iterable 

For example, 

    `for c in "hello":
        print(c)`
    h
    e
    l
    l
    o

### print list

In [ ]:
# print "2 5 7 9"
numbers = [2, 5, 7, 9]
for n in numbers:
    print(None)

In [ ]:
# print "Hello john"
# print "Hello joe"
# print "Hello peter"
names = ['john', 'joe', 'peter']
for name in names:
    print(None)

In [ ]:
# sum odd numbers 0 ~ 100
sum = 0
for x in range(100):
    None
print('sum = ', sum)

In [ ]:
# sum even numbers in 10 ~ 20
sum = 0
for x in range(10, 21):
    None
print('sum = ', sum)

In [ ]:
# sum even numbers in 10 ~ 20
sum = 0
for x in range(None):
    sum = sum + x
print('sum = ', sum)

__Example 1:__ - solve the same problem (or finding zero's) with a `str` type instead of `int`:

In [ ]:
# count 0 in num

num = 2**100
count = 0

None
        
print(count)

__Example 2__

Convert num as a `str` type and use a for loop to count `0` in 'num'.
    - str() converts an argument into a str type
    - str.count("hello world", "l") returns 3 since there are three 'l's in "hello world".

In [ ]:
num = 2**100
num_str = str(num)

count = None
print(count)

__Example 3__ 

Solve the same problem (or finding zero's) using built-in functions, count() & str():

-

In [ ]:
num = 2**100

None

print(c)

## Iterable Objects

### range() function 
    range() function returns an iterable of range(start, stop, step)

    - range(stop)
    - range(start, stop[, step])

In [ ]:
# print 1 ~ 20 
for x None
    print(x, end = ' ')

In [ ]:
# print 20 ~ 100
for x in None
    print(x, end = ' ')

In [ ]:
# print even numbers between 0 and 100
for x in None
    print(x, end = ' ')

### Collections - an iterable class

There are four collection data types in the Python programming language:

    - List is a collection which is ordered and changeable. Allows duplicate members.
        ['john', 'adam', 'david', 'joe', 'joe']
    - Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
        ('john', 'adam', 'david', 'joe', 'joe')
    - Set is a collection which is unordered and unindexed. No duplicate members.
        {'john', 'adam', 'david', 'joe'}
    - Dictionary (key and value pair) is a collection which is unordered, changeable and indexed. No duplicate members.
        car_dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
        car_dict["brand"] returns "Ford".
        car_dict.get("brand") returns "Ford".

In [ ]:
names = ['john', 'adam', 'david', 'joe', 'joe']
print(names)
names[0] = 'Bijeta'
print(names)

names_tuple = ('john', 'adam', 'david', 'joe', 'joe')
print(names_tuple)

names_set = set(['john', 'adam', 'david', 'joe', 'joe'])
print(names_set)

car_dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(car_dict)

#### Use a for loop and print each item in the list, tuple, set and dictionary

In [ ]:
for x in names:
    print(x, end = ' ')
for x in names_tuple:
    print(x, end = ' ')
for x in names:
    print(x, end = ' ')

print('\n')
for x in car_dict:
    print(x, car_dict[x])

## __Challenge:__ 
### Which one is the fastest or most efficient algorithms above? 
    
### Efficiency
We can measure which solution is faster:

(1) Using num % 10, num // 10

In [ ]:
%%timeit
num = 2**100
count = 0

while num > 0:  
    None

(2) Using str() & for loop

In [ ]:
%%timeit 
num = 2**100
count = 0

for x in str(num):
    None

(3) Using str.count()

In [ ]:
%%timeit 
num = 2**100
num_str = str(num)
count = None

The solution using built-in functions is four times faster than the __for__ loop solution which is 3 times faster than the __while__ loop solution.

### Other notes
* The `while` solution will not work for `num <= 0`
* The `while` solution will not work for non-numerals (e.g, `num = "Cola Zero is awesome!"`)
* The built-in solution is implemented in C internally. That is why it is faster.

# Example : 

## Snow falls, love never fails 

The [Collatz Conjecture](http://en.wikipedia.org/wiki/Collatz_conjecture) is the conjecture that the following process is finite for every natural number:

> Take any natural number n. If the number $n$ is even divide it by two ($n/2$), if it is odd, multiply it by 3 and add 1 ($3n+1$). Repeat this process untill you get the number 1.

### Implementation
We start with the "Half Or Triple Plus One" process:

### step 1:
__Sample run (n = 10):__

10 5 16 8 4 2 1

In [ ]:
m = 10 # integer to apply the sequence

n = m
while n != 1:
    print(n, end = ' ')
    n = (n // 2) if n % 2 == 0 else (n * 3 + 1)
        
print(1)

### step 2: plot the trail of snowflakes

__Sample run(n = 10):__

`
10 5 16 8 4 2 1
[10, 5, 16, 8, 4, 2, 1]
`
<img src="https://github.com/idebtor/KMOOC-ML/blob/master/ipynb/images/snowflakes.png?raw=true" width=300></img>
<center>그림 1: 눈송이와 높이</center>

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

m = 10
n = m
height = [n]
while n != 1:
    print(n, end = ' ')
    n = (n // 2) if n % 2 == 0 else (n * 3 + 1)
    height.append(n)
print(1)

plt.plot([x for x in range(len(height))], height, label=str(m))
plt.title("Snowflakes Plot")
plt.ylabel("Heights")
plt.legend()

### step 3: Next we add another loop that will run the conjecture check on a range of numbers:    

__Sample run (limit = 10, m = 1):__

`
1
2 1
3 10 5 16 8 4 2 1
4 2 1
5 16 8 4 2 1
6 3 10 5 16 8 4 2 1
7 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1
8 4 2 1
9 28 14 7 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1
10 5 16 8 4 2 1
`

In [ ]:
limit = 10
m = 1
while m <= limit:
    n = m
    while n != 1:
        print(n, end = ' ')
        n = (n // 2) if n % 2 == 0 else (n * 3 + 1)
    print(1)
    m = m + 1

### step 4:  find the hightest height in each snowflake  

__Sample run (limit = 10, m = 1):__

`
1 highest = 1
2 highest = 2
3 highest = 16
4 highest = 4
5 highest = 16
6 highest = 16
7 highest = 52
8 highest = 8
9 highest = 52
10 highest = 16
`

In [ ]:
limit = 10
m = 1
while m <= limit:
    n = m
    while n != 1:
        None
    print(1)
    m = m + 1

# Challenge 1: 

- Find a natural number that generates the highest sequence (goes up the highest).

- Find a natural number that generates the longest sequence (stay in the air longer).

### Get the highest in the sequences
Instead of printing the highests, make a list the highest in the sequences.

    - find the highest and its index
    - is it unique one? (count how many the highest)
    
#### Sample run:
`
1 highest = 1
2 1 highest = 2
3 10 5 16 8 4 2 1 highest = 16
4 2 1 highest = 4
5 16 8 4 2 1 highest = 16
6 3 10 5 16 8 4 2 1 highest = 16
7 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1 highest = 52
8 4 2 1 highest = 8
9 28 14 7 22 11 34 17 52 26 13 40 20 10 5 16 8 4 2 1 highest = 52
10 5 16 8 4 2 1 highest = 16
[1, 2, 16, 4, 16, 16, 52, 8, 52, 16]
highest = 52 at 7
count =  2
`

In [ ]:
highests = []
limit = 10
m = 1
while m <= limit:
    n = m
    high = n
    while n != 1:
        None
    print(1, 'highest =', high)
    m = m + 1
    highests.append(high)
    
print(highests) 
high = max(highests)
print('highest =', high, 'at', highests.index(high) + 1)
print('count = ', highests.count(high))

### Get the longest sequence

__Sample run (limit = 20, m = 1):__

`
highest = 160 at 14
count =  1
longest = 21 at 17
count =  2
`
<img src="https://github.com/idebtor/KMOOC-ML/blob/master/ipynb/images/snowflakes2.png?raw=true" width="400">
<center>그림 2: 눈송이와 높이와 길이</center>

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

highests = []
longests = []
limit = 20
m = 1
while m <= limit:
    n = m
    high = m
    long = 1
    None
    highests.append(high)
    longests.append(long)
    m += 1

assert limit == len(highests)
high = max(highests)
long = max(longests)
print('highest =',  high, 'at', highests.index(high))
print('count = ', highests.count(high))
print('longest =',  long, 'at', longests.index(long))
print('count = ', longests.count(long))

plt.plot([x for x in range(len(longests))], longests, label = 'longests', marker="v",ls='-')
plt.plot([x for x in range(len(highests))], highests, label = 'highests', marker="o",ls='--')
plt.legend()
plt.title("Snowflakes Plot")
plt.ylabel("Heights")
plt.show()

When a loop goes over a simple range it is easier to use the range function with a for loop - and more robust against bugs:

In [ ]:
start, stop = 10, 20
for m in range(start, stop + 1):
    n = m
    h = m
    while n != 1:
        n = (n // 2) if n % 2 == 0 else (n * 3 + 1)
        h = max(h, n)
    print(m, "is OK, highest =", h)

# Challenge 2: Snowflake heights Plot

Plot the snowflake heights from 10 and 20. The x range is 0 through the length of snowflakes. The y axis is the snowflake heights. 

__Sample run (start, stop = 10, 20):__

`
[10, 5, 16, 8, 4, 2, 1]
[11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[12, 6, 3, 10, 5, 16, 8, 4, 2, 1]
[13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[16, 8, 4, 2, 1]
[17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[19, 58, 29, 88, 44, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[20, 10, 5, 16, 8, 4, 2, 1]
`

<img src="https://github.com/idebtor/KMOOC-ML/blob/master/ipynb/images/snowflakes3.png?raw=true" width="400">
<center>그림 3: 눈송이 추적하기</center>

In [ ]:
# The x range is 0 through the length of snowflakes. 
# The y axis is the snowflake heights.

%matplotlib inline
import matplotlib.pyplot as plt

start, stop = 10, 20
for m in range(start, stop + 1):
    height = []
    n = m
    while n != 1:
        n = (n // 2) if n % 2 == 0 else (n * 3 + 1)
        
    height.append(1)
    print(height)
    plt.plot(None)
    
plt.title("Snowflakes Plot")
plt.ylabel("Heights")
plt.legend() 
plt.show()

----------
__우리가 아직 죄인되었을 때에 그리스도께서 우리를 위하여 죽으심으로 하나님께서 우리에 대한 자기의 사랑을 확증하셨느니라__ 롬5:9