# Welcome to "CrushPython"


__The prudent see danger and take refuge, but the simple keep going and suffer for it.__ Proverbs 27:12

---------

# Lesson - Lists  

------
Most of programs work not only with variables, but also use lists of variables. For example, a program can handle students informationin in a class by reading the list of students from the keyboard or from a file. 

To store such data, you can use the data structure called __list__. 

- Lists are sequences of objects. 
- Lists can contain a mix of any type of objects:
- Lists are one of the workhorse data structures.

A list is a sequence of elements numbered from 0, just as characters in the string. You create a list by putting square brackets around a comma-separated list of other Python items:

In [1]:
emptylist = []
primes = [2, 3, 5, 7, 11, 13, 17, 19]
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

Like strings, you can concatenate lists using the add operation:

In [2]:
a = [1, 2, 3]
b = ['four', 'five']
# combine two lists
c = a + b
print(c)

[1, 2, 3, 'four', 'five']

and you can multiply a list by an integer to repeat the items in a list multiple times:

In [5]:
[True, False] * 5

[True, False, True, False, True, False, True, False, True, False]

## Making a list

#### For example
- Make a list with odd numbers between 1 and 20. Use a for loop and range().
    - Create an empty list.
    - Use a for loop and range().
    - Use append() method to append an item to the list one by one.
    - If you enter a tab after `your_object.<tab>`, it display a list of methods available for `your_object`.

In [8]:
seq = []
N = 20 

for x in range(1, N, 2):
    seq.append(x)
    
print(seq)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]


## Indexing

Indexing on lists works much the same way as strings.

To get the first element of a list, use index 0:

In [10]:
# print the first color
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(rainbow)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

Print the rainbow, one element at a time:
- using iterable
- using index


#### Example: Using list which is iterable

Using the iterable list, complete the code to produce the following output:
```
red orange yellow green blue indigo violet 
```

In [12]:
# using list which is iterable
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
for x in rainbow:
    print(x, end=' ')

red orange yellow green blue indigo violet

#### Example: Using list indexing

Using list indexing, complete the code to produce the following output:

```
red orange yellow green blue indigo violet 
```

In [17]:
# using index, print colors
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
for color in range(len(rainbow)):
    print(color + 1, rainbow[color])

1 red
2 orange
3 yellow
4 green
5 blue
6 indigo
7 violet

#### Example: Using iterable 

Using iterable concept of an object, complete the code to produce the following output:
```
1 red
2 orange
3 yellow
4 green
5 blue
6 indigo
7 violet
```

In [ ]:
# using iterable
i = 0 
for color in None:
    None

#### Example: Using enumerating list

Using enumerating list concept of an object, complete the code to produce the following output:
```
1 red
2 orange
3 yellow
4 green
5 blue
6 indigo
7 violet
```

In [19]:
# enumerating list
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
for i, color in enumerate(rainbow):
    print(i + 1, color)

1 red
2 orange
3 yellow
4 green
5 blue
6 indigo
7 violet

Lists are mutable
----------

Unlike strings, list indexing is different that you can set the values in the list: strings are _immutable_, but lists are _mutable_.

So we can change the second element like so:

In [21]:
# change the first one to 'RED'
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow[0] = rainbow[0].upper()
print(rainbow)

if rainbow.count('pink') == 0:
    print('no pink')
else:
    print('yes, pink')

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
no pink

__Negative indices__ work in the same way as strings:

#### Example:
- Get the last element in the list

In [22]:
print(rainbow[-1])

violet

## Creating a list from user's input

In the demonstrated example, 

- the empty list is created, then 
- the number of elements is read, then 
- you read the list items line by line and append to the end. 

Sample run:
```
How many: 3
1: 3
2: 6
3: 9
[3, 6, 9]
```

The same thing can be done, saving the variable `n`:

In [3]:
a = []                      # start an empty list
n = int(input('How many: '))  # read number of elements in the list
for i in range(n): 
    prompt = str(i + 1) + ":"
    a.append(input(prompt))                  # add it to the list

print(a)

How many: 3
1:4
2:5
3:6
['4', '5', '6']

#### Simplified version:

In [ ]:
a = None
for i in range(None):
    None
print(a)

Slicing
-------
Slicing is used to extract a subsequence out of your sequence(e.g. list, string):

    var[lower:upper:step]

The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is `[lower, upper)`.  If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.

The `step` argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.

List slicing also has very similar semantics to slicing on strings. 
- a[start:end]      
  items start through end-1
- a[start:]         
  items start through the rest of the array
- a[:end]           
  items from the beginning through end-1
- a[:]              
  a copy of the whole list
- a[start:end:step] 
  start through not past end, by step

#### Example:

- slice [11, 12]

In [4]:
# slice [11, 12]
a = [10, 11, 12, 13, 14, 15]
a[1:3]

[11, 12]

#### Example: Using a negative indices

- slice [11, 12]

In [5]:
# slice [11, 12], use negative indices
a = [10, 11, 12, 13, 14, 15]
a[1:-3]

[11, 12]

### Example: Omitting indices

- slice [10, 11, 12]

In [6]:
# slice [10, 11, 12]
a = [10, 11, 12, 13, 14, 15]
a[:3]

[10, 11, 12]

### Replace elements with 

Unlike strings, because lists are mutable, you can write values into a slice.  

#### Example
Complete the code to produce `[10, 1, 2, 13, 14, 15]`

In [7]:
# replace 11, 12 with 1, 2
a = [10, 11, 12, 13, 13, 15]
a[1:3] = [1, 2]
print(a)

[10, 1, 2, 13, 13, 15]

This overwrites the second and third elements.  However you can inject extra elements into the list in the same way: the length of the slice and the length of the injected list don't have to match.

#### Example:
Insert `[1, 2, 3, 4]` into the slice from 1 to 3 such that it produces 
`[10, 1, 2, 3, 4, 13, 14, 15]`.
This will remove the current contents of the slice and replace it with the new list, increasing the length of the list:

In [8]:
# replace, 1, 2 with 1, 2, 3, 4
a = [10, 1, 2, 13, 14, 15]
a[1:3] = [1, 2, 3, 4]
print(a)

[10, 1, 2, 3, 4, 13, 14, 15]

### Delete elements

It's also possible to use the same idea for deleting elements.

If we take the slice from 1 to 3 and inject an empty list into the slice, it will __delete__ the second and third elements:

#### Example:
Complete the code to produce `[10, 3, 4, 13, 14, 15]`.

In [9]:
a = [10, 1, 2, 3, 4, 13, 14, 15]
a[3:5] = []
print(a)

[10, 1, 2, 13, 14, 15]

### Copying elements

Finally, you can __slice or copy all of the elements__ with a slice like this:

#### Example:

We want to make a copy of list `a` and have 'red' is replaced with 'white' as shown below:

```
a = ['red', 'green', 'yellow']
b = ['white', 'green', 'yellow']
```

What is wrong with the following code?

In [10]:
a = ['red', 'green', 'yellow']
b = a                       
b[0] = 'white'
print('a =', a)
print('b =', b)

a = ['white', 'green', 'yellow']
b = ['white', 'green', 'yellow']

__Tips__: Use `[:]` for mutable objects:

In [11]:
a = ['red', 'green', 'yellow']
b = a[:]                       
b[0] = 'white'
print('a =', a)
print('b =', b)

a = ['red', 'green', 'yellow']
b = ['white', 'green', 'yellow']

## Pop Quiz: WWJD or WWPP?

In [12]:
# reverse
s="hello"
s[::-1]

'olleh'

## Operations on Lists

We've seen the generic length function in Python and it works on any kind of sequence, including lists:

- len()
- sorted()
- del
- in
- not in

#### Example:
Get the length of the list given:

In [13]:
a = [10, 11, 12, 13, 14, 15]
len(a)

6

#### Example:

Use sorted() to reverse the sequence.

In [21]:
a = [20, 10, 11, 12, 13, 14, 15]
b = sorted(a)
print(a)
print(b)

[20, 10, 11, 12, 13, 14, 15]
[10, 11, 12, 13, 14, 15, 20]

In [24]:
a = [20, 10, 11, 12, 13, 14, 15]
a.sort()

None

To delete an item from a list, use the `del` keyword.  For example, to delete the item at index 2, you would use:

In [ ]:
a = [10, 11, 12, 13, 14, 15]
del a[2]
print(a)

A powerful feature is being able to test for membership in a list using the `in` keyword.

So to test if 13 is in our list, we would use:

In [25]:
a = [10, 11, 12, 13, 14, 15]
13 in a

True

which is `True` since 13 is in the list.

You can invert the idea and test to see if something is `not in` the list:

In [27]:
a = [10, 11, 12, 13, 14, 15]
13 not in a

False

which is `False` since 13 is in `a`.

## List Methods

Lists are objects, so they have a lot of methods available on them.

- append
- extend
- count
- index
- insert
- remove
- pop
- sort

`append()` adds a single element to the end of a list:

In [28]:
a = [10, 11, 12, 13, 14, 15]
a.append(20)
print(a)

[10, 11, 12, 13, 14, 15, 20]

If you instead want to add a sequence to the end of a list, then you can use `extend()`:

In [30]:
a = [10, 11, 12, 13, 14, 15]
a.extend([20, 21])
print(a)

[10, 11, 12, 13, 14, 15, 20, 21]

This is the same as using __inplace addition__:

In [31]:
a = [10, 11, 12, 13, 14, 15]
a += [1, 2]
print(a)

[10, 11, 12, 13, 14, 15, 1, 2]

Note that using `append()` with a list produces a differnt result than `extend()`:

In [32]:
a = [10, 11, 12, 13, 14, 15]
a.append([1, 2])
print(a)

[10, 11, 12, 13, 14, 15, [1, 2]]

This adds a single element to the end of the list, and that element contains the thing we appended, in this case the list `[1, 2]`.

The `count()` method tells you how many of a certain element are in a list:

In [33]:
a = [10, 11, 12, 13, 14, 15, 11]
a.count(11)

2

The `index()` method tells you the index of the first occurence of an element:

__ index of 11__

In [36]:
a = [10, 11, 12, 13, 14, 15, 11]
idx = a.index(11)
a.index(11, idx+1)

6

Notice that even though we have two 11s we only get the index of the first one.

The `insert()` method inserts a new element into a list at a particular index. 

#### Example
Inject the number 20 into a list at index 3 to produce the following:

```
[10, 11, 12, 20, 13, 14, 15, 11]
```

In [ ]:
a = [10, 11, 12, 13, 14, 15, 11]
None
print(a)

#### Example
`del` command deletes an element by index. 

Use the `remove()` method to produce the following:

```
[10, 12, 20, 13, 14, 15, 11]
```

In [ ]:
a = [10, 11, 12, 13, 14, 15, 11]
a.remove(11)
print(a)

So this removed the first occurrence of the element 11 from the list.

The `pop()` method is another way to remove an element from a list, but __by index__ rather than by value. What is the differenct from `del`?

#### Example
Remove the third element and print the element removed.

In [ ]:
a = [10, 11, 12, 13, 14, 15, 11]
None
print(a)
print(b)

So this removed the element at index 2, returning the value that was removed so now you can use that value in some other operation.  This is similar to `del a[2]`, but `del a[2]` doesn't return the element, it just gets rid of it:

In [ ]:
a = [10, 11, 12, 13, 14, 15, 11]
del a[2]
print(a)

Lists have a `sort()` method which is quite powerful.  The sort method takes various arguments that allow you to control how the sorting is done, and we'll cover that in another lecture.  But if you just call it without any argument it will sort the elements in ascending order, which is fairly useful by itself:

In [ ]:
a = [10, 1, 11, 13, 11, 2, 15, 14]
None
print(a)

This is an __in-place sort__, so it actually modifies the list `a`.  If you want to sort a list, but don't want to modify it, but instead create a new, sorted list, then the `sorted()` built-in function will do this for you. Some built-in functions such as sum, len, max can be used.

#### Example:

Keep the `a` as it is, but have `a` sorted in another list `b` as shown below: 

```
a = [10, 1, 11, 13, 11, 2, 15, 14]
b = [1, 2, 10, 11, 11, 13, 14, 15]
```

In [ ]:
a = [10, 1, 11, 13, 11, 2, 15, 14]
None
print('a =', a)
print('b =', b)

Finally, there is the `reverse()` method that reverses the elements of the list in-place:

In [ ]:
a = [1, 2, 3, 4, 5, 6]
None    
print(a)

## Pop Quiz 1

Replace two `None`'s with a proper code such that it produces the following output. The list reverse() method modifies the original list.
```
a = [7, 5, 4, 3, 2, 1]
b = [6, 5, 4, 3, 2, 1]
```

In [ ]:
a = [1, 2, 3, 4, 5, 6]
None
b = None
a[0] = 7
print('a =', a)
print('b =', b)

## Pop Quiz 2

Initialize a list, `a`, with True and print it. Its length is 10. Don't use  any loop nor range().  
`a = [True, True, True, True, True, True, True, True, True, True]`

In [ ]:
a = [True] * 10      # your code here
print(a)

## Exercises

## 1. Swap neighbours

Given a list of numbers, swap adjacent items in pairs (`a[0]` with `a[1]`, `a[2]` with `a[3]`, etc.). Print the resulting list. If a list has an odd number of elements, leave the last element in place.

For example:
```
a = [1, 2, 3]
# your code here
print(a)

[2, 1, 3]
```
-----------
```
a = [0, 9, 4, 5, 2, 3]
# your code here
print(a)

[9, 0, 5, 4, 3, 2]
```
-----------
```
a = [0, 9, 4, 5, 2, 3, 1]
# your code here
print(a)

[9, 0, 5, 4, 3, 2, 1]
```

__Hint__: Believe it or not, mutiple assignments are possible. In the following code, two values of `x` and `y` are swapped.
```
x, y = 1, 2      # x = 1, y = 2
x, y = y, x      # x = 2, y = 1
```

In [39]:
a = [0, 9, 4, 5, 2, 3, 7]
for i in range(1, len(a), 2):
    a[i-1], a[i] = a[i], a[i-1]

a

[9, 0, 5, 4, 3, 2, 7]

In [ ]:
a = [0, 9, 4, 5, 2, 3]
for i in None:
    None

## 2. swap_two()

Make the functionality of 'swap neighbours' coded above into a function. There are two ways to implement this function. 
- swap_two_inplace() in place returns None, but changes the input list itself in the argument
- swap_two() returns a new list without changing the input list in the argument

In [41]:
def swap_two_inplace(a):
    for i in range(1, len(a), 2):
        a[i-1], a[i] = a[i], a[i-1]

In [42]:
a = [0, 9, 4, 5, 2, 3, 1]
b = swap_two_inplace(a)
print("a:", a)
print("b:", b)

# a: [9, 0, 5, 4, 3, 2, 1]
# b: None

a: [9, 0, 5, 4, 3, 2, 1]
b: None

In [43]:
def swap_two(a):
    b = a[:]
    for i in range(1, len(b), 2):
        b[i-1], b[i] = b[i], b[i-1]
    return b

In [44]:
a = [0, 9, 4, 5, 2, 3, 1]
b = swap_two(a)
print("a:", a)
print("b:", b)

# a: [0, 9, 4, 5, 2, 3, 1] 
# b: [9, 0, 5, 4, 3, 2, 1]

a: [0, 9, 4, 5, 2, 3, 1]
b: [9, 0, 5, 4, 3, 2, 1]

## 3. The largest element and its index

Get a list of integers, print the value of the largest element and then the index number. If the highest element is not unique, print the index of the first instance.

__Hint__: You can solve this problem without using a loop if you use methods available for the list object as well as built-in functions in Python.

In [45]:
a = [6, 9, 6, 23, 12, 19, 14, 26]
a.sort()
x_value = a[-1]
x_index = a.index(x_value)

print(x_value, x_index)

26 7

## 4. Unique elements

Given a list of integers, this function, `only_once(alist)`, returns a list with the elements that appear in the original list only once. The elements must be listed in the order in which they occur in the original list. Don't use set. 
For example:
```
a = [4, 3, 5, 2, 5, 1, 3, 5]
print(only_once(a))
[4, 2, 1]
```
```
b = [6, 9, 6, 23, 12, 19, 14, 26]
print(only_once(b))
[9, 23, 12, 19, 14, 26]
```

__Hint:__ Use a method available for a list object. Remember that `obejct.<tab>` displays a list of methods available for that `object`.

In [46]:
def only_once(alist):
    b = []
    for x in alist:
        if alist.count(x) == 1:
            b.append(x)
    return b

In [47]:
a = [4, 3, 5, 2, 5, 1, 3, 5]
b = [6, 9, 6, 23, 12, 19, 14, 26]
print(only_once(a))
print(only_once(b))

[4, 2, 1]
[9, 23, 12, 19, 14, 26]

--------
__슬기로운 자는 재앙을 보면 숨어 피하여도 어리석은 자들은 나가다가 해를 받느니라.__
잠언27:12