# Welcome to "CrushPython"

__So whether you eat or drink or whatever you do, do it all for the glory of God.__ 
1 Corinthians 10:31


------

__NOTE:__ The following materials have been compiled and adapted from the numerous sources including my own. Please help me to keep this tutorial up-to-date by reporting any issues or questions. Send any comments or criticisms to `idebtor@gmail.com` Your assistances and comments will be appreciated.

# Revisit Data Types 


- Primitive data types: `int, float, complex, bool, str`
- Collection data types: `list, tuple, dict, set` 

#### Example:

In [ ]:
fruits = ["apple", "banana", "kiwi", "orange"]    #list - mutable, ordered
counts = (5, 7, 3)                                #tuple - immutable, ordered
stocks = {'apple': 5 , 'banana': 7, 'orange': 3}  #dictionary - key:value pair, not ordered
cities = {'daegue', 'pusan', 'jeju' , 'pohang'}   #set - no duplicate, not ordered

---------

# Lesson - Iteration 

------------

# 1. Iteration using for loop  

__Iteration__ means executing the same block of code over and over, potentially many times. A programming structure that implements iteration is called a loop. 
Often the program needs to repeat some code many times. That's where the loops come in handy. There are `for` and `while` loop operators in Python, in this lesson we cover for.

The `for` loop iterates over any sequence that is either a list, a tuple, a dictionary, a set, or a string.
With the `for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

For instance, you may print each fruit in a fruit list:
```
apple
banana
kiwi
orange
```

In [ ]:
fruits = ["apple", "banana", "kiwi", "orange"]    #list - mutable, ordered

None

The for loop does not require an indexing variable to set beforehand.

Even strings are iterable objects, they contain a sequence of characters. You may loop through the letters in the word `apple`:
```
a
p
p
l
e
```

In [1]:
for ch in "apple":
    print(ch)

a
p
p
l
e

## The break statement
With the break statement we can stop the loop before it has looped through all the items:

For example, While print each fruit in the fruit list, exit the loop when it encounters "kiwi" without printing it. 
```
apple
banana
```

In [ ]:
fruits = ["apple", "banana", "kiwi", "orange"]    #list - mutable, ordered

None

## Nested loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":
```
red apple
red banana
red kiwi
big apple
big banana
big kiwi
tasty apple
tasty banana
tasty kiwi
```

In [ ]:
looks = ["red", "big", "tasty"]
fruits = ["apple", "banana", "kiwi"]    #list - mutable, ordered

None

#### Example 1: 

Print each fruit in a list and add "my favorite" if it encounters "kiwi".as shown below:

```
fruits = ["apple", "banana", "kiwi", "orange"]
```

Expected output:
```
apple
banana
kiwi - my favorite
orange
```

In [ ]:
fruits = ["apple", "banana", "kiwi", "orange"]    #list - mutable, ordered

None

#### Example 2: Using `for` loop, print `hello` in one line.

Expected output:

```
h e l l o 
```

__Hint__: By default, the function `print()` prints all its arguments separating them by a space and the puts a newline symbol after it. This behavior can be changed using keyword arguments `sep` (separator) and `end`.

In [ ]:
# print each letter using for loop in a row
None


#### Example 3: Using `for` loop, print `hello` in one line wihtout spaces between chars.
Expected output:
```
hello
```

In [ ]:
# print each letter using for loop in a row without spaces
None

#### Example 4: Print `12:3` when `hour = 12` and `min = 3` are given.

Expected output:
```
12:3
```

In [ ]:
hour = 12
min = 3
print(None)

#### Example 5: Using print format - Print the following hours and mins.

```
12:03
02:05
01:45
23:32
```

__step.1__  `12:3` - it may use 'sep=''' separator option

In [ ]:
print(None)

__step.2__  `12: 3`

In [ ]:
print(None)

__step.3__  `12:03`

In [ ]:
print(None)

__step.4__  
```
12:03
02:05
01:45
23:32
```

In [ ]:
hours = [12, 2,  1, 23]
mins  = [ 3, 5, 45, 32]  
None

# 2. Iteration with for loop & range()

Another use case for a for-loop is to iterate some integer variable in increasing or decreasing order. Such a sequence of integer can be created using the built-in function `range()`. The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

__Syntax__

```
class range(stop)
    - returns a sequence of numbers starting from 0 to stop - 1
class range(start, stop[, step])
    - returns the range of integers end at stop - 1.
```

__Parameters__

- `start` - integer starting from which the sequence is returned
- `stop`  - integer before which the sequence of integers is to be returned.
- `step` (Optional) - integer value which determines the step in the sequence
    
The function `range(stop)` means that `start` is implicitly set to `0`:

#### Example 1: Generate numbers from 0 to 5 and print them as shown below:
```
0, 1, 2, 3, 4, 5, 
```

- Check what `range(6)` returns.

In [ ]:
iter = range(6)
for i in range(6):
    print(i, end=', ')

### Using `start` and `end` parameters in `range()`

- Function `range(start, stop)` generates a sequence with numbers `start, start + 1, ..., start - 1`. 
- __The last number in `stop` is not included__.

#### Example 2: Print the table of n cubed where n is 1 to 10 as shown below:

```
1 cubed is 1
2 cubed is 8
3 cubed is 27
4 cubed is 64
5 cubed is 125
6 cubed is 216
7 cubed is 343
8 cubed is 512
9 cubed is 729
10 cubed is 1000
```

In [ ]:
for i in None:
    None

#### Example 3: Given an integer n = 10, sum number from 0 to n.

Expected output:
```
Sum from 1 to 10 is 55
```

In [ ]:
n = 10
sum = 0
for i in None:
    None

print('Sum from 1 to {} is {}'.format(n, sum))

#### Example 4: 

Count down a number starting n and print `blast off`. Complete the code to produce the following output when N = 5.

```
5
4
3
2
1
blast off
```

#### Using a negative step size `-1`

In [ ]:
N = int(input("Enter N: "))
for i in None:
    print(None)
print("blast off")

#### Using `range(N)`

In [ ]:
N = int(input("Enter N: "))
for i in None:
    print(None)
    
print("blast off")

# 3. Enumerate()

Python gives you the luxury of iterating directly over the values of the list (or iterables) which is most of the time what you need. However, there are times when you actually need the index of the item as well.

__Syntax__:
```
enumerate(iterable, start=0)
```

__Parameters__:
- `iterable`: any object that supports iteration
- `start`: the index value from which the counter is to be started, by default it is 0

              
#### Example 1: Print a list in three different ways.

Given list of car names, `cars = ['kia', 'audi', 'bmw', 'genesis']`, list car names with sequential numbers.


#### Expected output(Case 1):

```
kia
audi
bmw
genesis
```

In [ ]:
cars = ['kia', 'audi', 'bmw', 'genesis']
for car in None:
    print(car)

#### Expected output(Case 2):
```
(1, 'kia')
(2, 'audi')
(3, 'bmw')
(4, 'genesis')
```

In [ ]:
cars = ['kia', 'audi', 'bmw', 'genesis']
for car in None:
    print(car)

#### Expected output(Case 3):
```
1 kia
2 audi
3 bmw
4 genesis
```

In [ ]:
cars = ['kia', 'audi', 'bmw', 'genesis']
for i, car in None:
    print(None, None)

#### Example 2: Print a list with its index

Given list of names, `friends = ['Jane', 'Peter', 'John', 'Lee']`, modify the code cell such that it prouce the list with sequential numbers.

```
1: Jane
2: Peter
3: John
4: Lee
```

####  Solution 1: Using an index but without using enumerate()

In [ ]:
for i in None:
    print(i + 1, None, None)

####  Solution 2: with using enumerate()

In [ ]:
for i, friend in None:
    print(i, None, None)

# Homework

### 1. Count to N

Get an integer N from the user, print all the numbers from 1 to N twice as shown below.
```
1
2
3
4
5
1 2 3 4 5
```

In [ ]:
N = int(input("Enter N: "))
None

## 2. Print even numbers twice

Given an integer N, print all even numbers from 0 to N in ascending order and descending order

Sample runs:
```
Enter N: 5
0 2 4 
4 2 0

Enter N: 10
0 2 4 6 8 10 
10 8 6 4 2 0

Enter N: 11
0 2 4 6 8 10 
10 8 6 4 2 0
```

In [ ]:
N = int(input("Enter N: "))
None
print()

None

## 3. Print every other character in a string 

Given a string, print every other character. You may need to use a for-loop, if, len(), and range(). 

Sample runs:
```
Enter a string: hello
h l o 

Enter a string: Hello World
H l o W r d 

Enter a string: Hello World!
H l o W r d 

```

In [ ]:
str = input("Enter a string: ")
None

## 4. Ladder 

For given integer n ≤ 9 print a ladder of n steps. The k-th step consists of the integers from 1 to k without spaces between them.
To do that, you can use the sep and end arguments for the function print().

```
Enter N: 5
1
12
123
1234
12345

Enter N: 3
1
12
123
```

In [ ]:
N = int(input('Enter N: '))
None

## 5. Stair
For given positive integer N ≤ 9 print a stair of N steps. The k-th step consists of k of 1's  without spaces between them.
To do that, you can use the sep and end arguments for the function print().

```
Enter N: 5
1
11
111
1111
11111

Enter N: 4
1
11
111
1111
```

## 6. Print the sum of its digits.

For example, print `10` if `316`, `13` if `256`, `26` if `5678`.

#### Method 1: __Sum all digits for any number of digits and using str() and for loop__

In [ ]:
# Read an integer as a string:
s = input("Enter an int number: ")
# for example, print 6 if a is 123, 18 if a is 369. 
sum = 0

None

print(sum)

#### Method 2: Using indexing for for

In [ ]:
# Read an integer as a string:
s = input("Enter an int number: ")
# for example, print 6 if a is 123, 18 if a is 369. 
sum = 0

None

print(sum)

#### Method 3: Do it for any number of digits and using while loop

In [ ]:
# Read an integer:
n = int(input("Enter an int number: "))
# for example, print 6 if a is 123, 18 if a is 369. 
sum = 0

None
    
print(sum)

---------
__"Everything is permissible" - but not everything is beneficial. "Everything is permissible" - but not everything is constructive.__
1 Corinthians 10:23